<div class="wrap">
  <h1>Headings</h1>
  <p>
    Headings help to add a hierarchy to a page, and they are key identifiers for
    users reading a page. They should be used in an order that is relevant to
    the content of a page.
  </p>
  <div class="container">
    <h1>Heading 1</h1>
    <p class="h1fs">font-size: <span class="value"></span></p>
    <p class="h1lh">line-height: <span class="value"></span></p>
    <p class="h1fw">font-weight: <span class="value"></span></p>
    <br />
    <br />
    <h2>Heading 2</h2>
    <p class="h2fs">font-size: <span class="value"></span></p>
    <p class="h2lh">line-height: <span class="value"></span></p>
    <p class="h2fw">font-weight: <span class="value"></span></p>
  </div>
  <h1>Paragraph</h1>
  <div class="container">
    <p class="para">Paragraph</p>
    <p class="pfs">font-size: <span class="value"></span></p>
    <p class="plh">line-height: <span class="value"></span></p>
    <p class="pfw">font-weight: <span class="value"></span></p>
  </div>
  <h1>Caption</h1>
  <div class="container">
    <p class="caption">Caption</p>
    <p class="cfs">font-size: <span class="value"></span></p>
    <p class="clh">line-height: <span class="value"></span></p>
    <p class="cfw">font-weight: <span class="value"></span></p>
  </div>
  <h1>Button</h1>
  <div class="container">
    <p class="button">Button</p>
    <p class="bfs">font-size: <span class="value"></span></p>
    <p class="blh">line-height: <span class="value"></span></p>
    <p class="bfw">font-weight: <span class="value"></span></p>
  </div>
</div>
