<div class="layout">
  <div class="wrapper">
    <div class="left">
      <h1>AIR BOOST</h1>
      <h2>Designed for <span>maximum speed</span></h2>

      <p class="msg">
        with a soft and lightweight finish to give you the max boost of speed
      </p>

      <p class="caption">Price : $199</p>

      <button>Buy now</button>
    </div>
    <div class="right">
      <img src="../assets/shoes.png" alt="shoes" />
      <div class="colors">
        <div class="c-1"></div>
        <div class="c-2"></div>
        <div class="c-3"></div>
      </div>
    </div>
  </div>
</div>
