@import "../../scss/styles.scss";
.color {
  width: 7rem;
  height: 7rem;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

  &.primary {
    background-color: $token-colors-primary;
  }

  &.secondary-1 {
    background-color: $token-colors-secondary-1;
  }

  &.secondary-2 {
    background-color: $token-colors-secondary-2;
  }

  &.extra-1 {
    background-color: $token-colors-extra-1;
  }

  &.extra-2 {
    background-color: $token-colors-extra-2;
  }

  &.extra-3 {
    background-color: $token-colors-extra-3;
  }
}
